div {
    width: 400px;
    border: 1px red solid;
    margin-bottom: 40px;
}

#bg1 {
    height: 50px;
    background-color: blue;
}

#bg2 {
    height: 50px;
    background-image: url('../img/bg2.jpg');
    background-repeat: repeat;
    border: 0px;
}

.text1 {
    font-size: 40px;
    color: black;
    text-align: center;
    text-shadow: 4px 4px 4px #FF0000;
}