* {
    font-size: 40px;
}

#all {
    width: 800px;
    margin: 0px auto;
}

#header {
    height: 100px;
    background-color: red;
}

#side {
    float: left;
    width: 180px;
    background-color: blue;
}

#main {
    float: right;
    width: 620px;
    background-color: green;
}

#footer {
    clear: both;
    height: 100px;
    background-color: yellow;
}